{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block description %}{% endblock description %}">
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=dm-sans:100,200,300,400,500,600,700,800,900"
              rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'events/style.css' %}">
        <title>Popevent —
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <nav>
            <div class="nav-left">
                <a href="{% url 'index' %}" class="nav-brand">
                    <img src="{% static 'events/images/popevent-icon.svg' %}"
                         width="28"
                         height="28"
                         alt="Logo" />
                    <strong>Popevent</strong>
                    <sup>beta</sup>
                </a>
                <span class="nav-tagline">is the <strong><mark>distraction-free</mark> way to find what’s next</strong></span>
            </div>
            <div class="nav-right">
                <a href="{% url 'discover' %}">Discover</a>
                <a href="{% url 'index' %}#features">Features</a>
                <a href="#" class="btn-signin">Sign in</a>
                <a href="#" class="btn-signup">Sign up</a>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="page-wrapper">
            Copyright Amine Hochlef
        </footer>
    </body>
</html>
