{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block description %}{% endblock description %}">
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=dm-sans:100,200,300,400,500,600,700,800,900"
              rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'events/style.css' %}">
        <title>Popevent —
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <a href="{% url 'index' %}">
                <img src="{% static 'events/images/popevent-icon.svg' %}"
                     width="28"
                     height="28"
                     alt="Popevent Logo" />
                <strong>Popevent</strong>
                <sup>beta</sup>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <p>
                <i>Developed and maintained by <a href="https://hochlef.pages.dev/" target="_blank">Amine Hochlef</a></i>
            </p>
            <small>
                <a href="mailto:based.fantasy433@passinbox.com">Contact</a>|
                <a href="https://github.com/hoochlef/popevent" target="_blank">GitHub</a>|
                <a href="https://termly.io/resources/templates/terms-and-conditions-template/"
                   target="_blank">Terms</a>|
                <a href="https://en.wikipedia.org/wiki/Privacy" target="_blank">Privacy</a> |
                <a href="#" target="_blank">Why?</a>
            </small>
        </footer>
    </body>
</html>
