{% extends "events/base.html" %}
{% comment %} Djlint causes the description tag
to go a new line which causes the end result to have whitspaces
fix it by either ignoring that rule, ignore the specific line or 
something else {% endcomment %}
{% block description %}
    Discover the latest created events.
{% endblock description %}
{% block title %}
    Discover
{% endblock title %}
{% block content %}
    <h1>Discover the latest events created</h1>
    <p>Subscribe to the <a href="#">RSS feed</a>.</p>
    {% if latest_event_list %}
        <ol>
            {% for event in latest_event_list %}
                <li>
                    <a href="{% url 'detail' event.id %}">{{ event.title }}</a>
                </li>
            {% endfor %}
        </ol>
        <p><a href="#">More 🢡</a></p>
    {% else %}
        <p>No events are available.</p>
    {% endif %}
    <p>Create your own events now with <a href="{% url 'signup' %}">Popevents ٩(๑❛ᴗ❛๑)۶</a>.</p>
{% endblock content %}
