{% extends "events/base.html" %}
{% block description %}
    Browse the latest events in your niche or create your own.
{% endblock description %}
{% block title %}
    Events creation and discovery
{% endblock title %}
{% block content %}
    <h1>Find your next event without wasting hours scrolling on social media</h1>
    <!-- navigation -->
    <nav>
        <a href="{% url 'discover' %}">Discover</a>
        <a href="{% url 'signin' %}">Sign in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    </nav>
    <h2>With Popevent you can discover and create events.</h2>
    <p>Here's what you can expect:</p>
    <ul>
        <li>No trackers, ads, or scripts</li>
        <li>Seconds to sign up</li>
        <li>RSS & Atom feeds support</li>
        <li>
            Lighweight web pages that load instantly and look good on <b>any</b> screen
        </li>
    </ul>
    <h3>Find and engage with your community through events.</h3>
{% endblock content %}
