* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
}

a.discover-link {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

footer {
    margin: 40px 0px;
    text-align: center;
}
/* 
body {
    background-color: #120b1f ;
    ~~~~~~~~Style experimentation~~~~~ Royal obsidian: #120b1f for dark mode
    color: #fff;
}

a {
    text-decoration: none;
    color: #8cc2dd;
}

a:hover {
    text-decoration: underline;
    color: #8cc2dd;
} 
*/
